:root {
    --blue: #19647E;
    --red: #D72638;
    --yellow: #FCBA04;
    --white: #FBF5F3;
    --black: #000022;
  }


* {
    background-color: var(--white);
    text-align: center;
}

body {
    background-color: var(--white);
}

.boardAndChatAndScore {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--white);
}

h1 {

    color: #19647E ;
}

.gameBoard {

    border: var(--yellow) solid 5px;
    width: 90vw;
    max-width: 450px;

    height: 80vw; 
    max-height: 400px;
    background-color: var(--blue);

    display: flex;
    flex-direction: column;
    justify-content: space-around;  

    margin: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1px;
    background-color: #19647E;
}

.dot {
    display: flex;
    width: 9vw;
    max-width: 50px;
    height: 9vw;
    max-height: 50px;


    background-color: var(--red);
    border-radius: 50%;
    /* display: inline-block; */
    border: black solid 2px;
}

.selector {
    display: flex;
    width: 4vw;
    max-width: 25px;
    height: 4vw;
    max-height: 25px;
    
}


.chat {
    display: flex;

    border: var(--yellow) solid 5px;
    width: 90vw;
    max-width: 225px;

    height: 70vw; 
    max-height: 350px;

    background-color: var(--blue);

    flex-direction: column;

    padding: 10px;
    
    margin: 20px;

    justify-content: space-between;
}

/* .alert {
    width:40%;    
 } */

.chatMessages {
    background-color: var(--blue);
}
.chatInput {
    background-color: var(--blue);

}


.scoreboard {
    display: flex;
    flex-direction: column;

    background-color: #19647E;
    border: var(--yellow) solid 5px;

    margin: 20px;
    
    width: 90vw;
    max-width: 225px;

    height: 70vw; 
    max-height: 350px;

    padding: 10px;

    align-items: center;
    justify-content: space-around;


}

.scoreboardTitle {
    display: flex;
}

.topPlayers {
    display: flex;
}

.yellowDot {
    background-color: var(--yellow);   
}

.emptyDot {
    background-color: var(--white);   
}